NEXT_PUBLIC_SITE_NAME="Tea House"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your_google_client_secret
MONGODB_URI=your_mongodb_uri
NEXT_PUBLIC_API_URL=https://your-backend-api.com
SERVER_API_URL=https://your-backend-api.com
